<div class="wrapper">
		<div class="nav-container">
    		<nav class="navbar navbar-expand-lg navbar-light bg-light">
        		<a class="navbar-brand" href="#"><img src="assets/rev-logo.png" id="menu-banner" /></a>
        		<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
						aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarNavAltMarkup">
					<div class="navbar-nav">
        				<a *ngIf="!loggedIn" class="nav-item nav-link" routerLink="login">Login</a>
        				<a *ngIf="!loggedIn" class="nav-item nav-link" routerLink="register">Register</a>
        				<a *ngIf="loggedIn" class="nav-item nav-link" routerLink="dashboard">Home</a>
        				<a *ngIf="loggedIn" class="nav-item nav-link" (click)="logout()">Logout</a>
					</div>
				</div>
    		</nav>
		</div>
	</div>